name: Debian13 KVM 12GB VM

on:
  workflow_dispatch:

jobs:
  vm:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Instalar dependências
      - name: Install QEMU
        run: |
          sudo apt update
          sudo apt install -y qemu-system-x86 qemu-utils cloud-image-utils wget netcat-openbsd

      # Criar pasta
      - name: Prepare Folder
        run: mkdir -p vm

      # Baixar Debian 13 se não existir
      - name: Download Debian Image
        run: |
          if [ ! -f vm/debian13.qcow2 ]; then
            wget https://cloud.debian.org/images/cloud/trixie/daily/latest/debian-13-generic-amd64-daily.qcow2 \
              -O vm/debian13.qcow2
          fi

      # CLOUD INIT CORRIGIDO (ROOT FUNCIONA)
      - name: Create Cloud Init
        run: |
          cat <<EOF > vm/user-data
          #cloud-config
          ssh_pwauth: true
          disable_root: false

          chpasswd:
            list: |
              root:root
            expire: false

          users:
            - name: root
              lock_passwd: false
          EOF

          cat <<EOF > vm/meta-data
          instance-id: debian13
          local-hostname: debian13
          EOF

          cloud-localds vm/seed.iso vm/user-data vm/meta-data

      # Iniciar VM
      - name: Start VM with KVM
        run: |
          echo "Starting VM..."

          sudo nohup qemu-system-x86_64 \
            -enable-kvm \
            -m 12288 \
            -smp 4 \
            -drive file=vm/debian13.qcow2,format=qcow2 \
            -drive file=vm/seed.iso,format=raw \
            -nic user,hostfwd=tcp::2222-:22 \
            -nographic \
            > vm.log 2>&1 &

          sleep 40

          echo "Checking SSH port..."
          for i in {1..20}; do
            nc -z localhost 2222 && break
            sleep 5
          done

          echo "VM Started"

      # TMATE (não bloqueia)
      - name: Start tmate
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true

      - name: Show tmate SSH
        run: cat $HOME/.tmate.sock/ssh

      # Manter rodando
      - name: Keep Alive
        run: sleep 21000
